*~
_build/
*.native
lib/path_generated.ml
.*.swp
*.xen
setup.bin
setup.data
setup.log
lib_test/**/*.img
lib_test/**/Makefile
lib_test/**/main.ml
lib_test/**/mir-*
lib_test/**/static_*
lib_test/**/*.xl
lib_test/**/log
lib_test/**/**/static*
lib_test/**/make-fat1-image.sh
lib_test/**/myocamlbuild.ml
lib_test/**/static1.ml
lib_test/**/static1.mli
lib/mirage_version.ml

*.odocl
*.docdir
