*.o
*.a
*.cmi
*.cmx
*.cma
*.cmo
*.cmxa
*.cache/
.cmxdeps
.*.swp
.mldeps
mini-os.gz
tests/*/.depend
runtime/base/obj-*
runtime/base/mir/obj-*
runtime/xen/stubdom/*-x86_64
runtime/xen/extras/mini-os/include/mini-os
runtime/xen/extras/mini-os/include/x86/mini-os
runtime/xen/extras/mini-os/include/xen
runtime/xen/stubdom/include/
runtime/xen/stubdom/mini-os-x86_64-caml/
runtime/xen/stubdom/zlib/Makefile
runtime/xen/stubdom/libm/obj/
tests/*/app
tests/*/mini-os
