lib/.init
syntax.init
.*.swp
*~
*.annot
*.odoc
_build/
CVS/
doc/html/
tests/*/*/myocamlbuild.ml
/screenlog.*
tools/*/*.native
tools/fs/*.o
tools/fs/mir-fs-*
regress/*/myocamlbuild.ml
regress/*/*/myocamlbuild.ml
