*.o
*.a
extras/mini-os/include/mini-os
extras/mini-os/include/x86/mini-os
extras/mini-os/include/xen
stubdom/cross-root-*/
stubdom/include/
stubdom/libxc-*/
stubdom/mini-os-*/
stubdom/mk-headers-*
stubdom/newlib-*/
stubdom/zlib/Makefile
